[Unit]
Description=Almostengr Refrigerator Service
After=network.target

[Service]
ExecStart=/home/pi/refrigeratorpi/Almostengr.RefrigeratorPi
Type=notify
Restart=always
